<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <test name="Admin Testcase">
        <classes>
                
 				 <class name="AdminTestcase.AllMessagedropdownTest"/>
 				    <class name="AdminTestcase.AllParentsAdinStaffComposeMessageTest"/>
 				     <class name="AdminTestcase.AllParentComposeMessageTest"/>
 				      <class name="AdminTestcase.AllStaffMessageTest"/>
 				       <class name="AdminTestcase.AdminSearchMessageTest"/>
 				        <class name="AdminTestcase.AllMessageSearchTest"/>
 				         <class name="AdminTestcase.IndidualParentMessageTest"/>
 				          <class name="AdminTestcase.IndidualStaffMessageTest"/>
 				      		<class name="AdminTestcase.IndividualComposeMessageTest"/>
 				      		<class name="AdminTestcase.StaffSearchMessageTest"/>
 				      		<class name="AdminTestcase.StaffSearchMessageTest"/>

        
        </classes>
    </test>
</suite>




           
              
                
            
          
       
    


